<div class="admin-container">
  <button class="menu-toggle" (click)="toggleSidebar()">☰</button>

  <aside class="sidebar" [class.open]="sidebarOpen">
    <div class="sidebar-content">
      <h3>Proyectos Creados</h3>
      <ul>
        <li *ngFor="let project of projects" (click)="viewProjectDetails(project.id)">
          {{ project.projectdocument }} <!-- Muestra el nombre del archivo -->
        </li>
      </ul>
    </div>
  </aside>

  <main class="content">
    <header>
      <h1 class="welcome-title">Bienvenido</h1>
    </header>
    <button class="create-project-btn" (click)="openNewProjectPage()">Crear Nuevo Proyecto</button>
  </main>
</div>
