<div class="form-container">
  <h2>Crear Proyecto</h2>
  <form [formGroup]="projectForm" (ngSubmit)="saveProject()">
    <label for="description">Descripción:</label>
    <input id="description" formControlName="description" type="text" />

    <label for="generalobjective">Objetivo General:</label>
    <input id="generalobjective" formControlName="generalobjective" type="text" />

    <label for="projectdocument">Documento del Proyecto (Archivo Excel):</label>
    <input
      type="file"
      accept=".xls,.xlsx"
      (change)="onFileSelect($event)"
      formControlName="projectdocument"
    />

    <label for="totalsgr">Total SGR:</label>
    <input id="totalsgr" formControlName="totalsgr" type="text" />

    <label for="totalduration">Duración Total:</label>
    <input id="totalduration" formControlName="totalduration" type="number" />

    <div class="form-buttons">
      <button type="submit" [disabled]="projectForm.invalid">Guardar</button>
      <button type="button" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</div>
